<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/master.css">
  </head>
  <body>
    <div id="root">
      <header>
        <nav class="nav-container">
          <div class="nav-left">
            <img src="./assets/img/takeout-logo-2x-200x43.png" alt="">
          </div>

          <div class="nav-right">
            <ul>
              <li><a href="">Home <i class="fas fa-angle-down"></i></a></i></li>
              <li v-for="link in collegamenti"><a href="">{{ link.name }}</a></li>
            </ul>
            <i class="fas fa-shopping-cart"></i>
          </div>
          
          <div class="right-buttons">
            <div class="btn-top">
              <a href=""><i class="fas fa-plus"></i></a>
            </div>
            <div class="btn-bot">
              <span class="btn-white"></a><a href="">
                <i class="fas fa-cannabis"></i>
                <p>Demos</p>
              </a></span>
              <span class="btn-white"><a href="">
                <p id="sale">$39</p>
                <p>On Sale</p>
              </a></span>
            </div>
          </div>
        </nav>

        <div class="container">
          <div class="title">
            <h1>Hungry?</h1>
            <h2>
              <span class="yellow">Great Food</span><br>
              Delivered
            </h2>
            <a href="" class="btn"><span>view our menu</span><i class="fas fa-arrow-alt-circle-right"></i></a>
          </div>

          <div class="nav-bottom">
            <div><i class="far fa-clock"></i><p>24/7 delivery</p></div>
            <div><i class="fas fa-hamburger"></i><p>over 100 dishes</p></div>
            <div><i class="fas fa-mobile-alt"></i><p>in app ordering</p></div>
            <div><i class="fas fa-car"></i><p>fast delivery</p></div>
          </div>
        </div>
      </header>

      <main>
        <section>
          <div class="container">
            <h2>Our Most Popular Dishes</h2>
  
            <div class="popular-dishes">
              <div v-for="dish in popularDishes" class="card">
                <img :src="dish.name" alt="">
                <h4>{{ dish.title }}</h4>
                <p class="red">{{ dish.price }}</p>
              </div>
            </div>
            <div>
              <a href="" class="btn">Start your order<i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
          </div>
          <div class="sconto">
            <img src="./assets/img/robo-ondulato.jpg" alt="">
          </div>
        </section>

        <section>
          
        </section>
        



      </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>