<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/master.css">
  </head>
  <body>
    <div id="root">
      <header>
        <nav class="nav-container">
          <div class="nav-left">
            <img src="./assets/img/takeout-logo-2x-200x43.png" alt="">
          </div>

          <div class="nav-right">
            <ul>
              <li><a href="">Home <i class="fas fa-angle-down"></i></a></li>
              <li v-for="link in collegamenti"><a href="">{{ link.name }}</a></li>
            </ul>
            <i class="fas fa-shopping-cart"></i>
          </div>
          
          <div class="right-buttons">
            <div class="btn-top">
              <a href=""><i class="fas fa-plus"></i></a>
            </div>
            <div class="btn-bot">
              <span class="btn-white"><a href="">
                <i class="fas fa-cannabis"></i>
                <span>Demos</span>
              </a></span>
              <span class="btn-white"><a href="">
                <span id="sale">$39</span>
                <span>On Sale</span>
              </a></span>
            </div>
          </div>
        </nav>

        <div class="container">
          <div class="title">
            <h1>Hungry?</h1>
            <h2>
              <span class="yellow">Great Food</span><br>
              Delivered
            </h2>
            <a href="" class="btn"><span>view our menu</span><i class="fas fa-arrow-alt-circle-right"></i></a>
          </div>

          <div class="nav-bottom">
            <div><i class="far fa-clock"></i><p>24/7 delivery</p></div>
            <div><i class="fas fa-hamburger"></i><p>over 100 dishes</p></div>
            <div><i class="fas fa-mobile-alt"></i><p>in app ordering</p></div>
            <div><i class="fas fa-car"></i><p>fast delivery</p></div>
          </div>
        </div>
      </header>

      <main>
        <section>
          <div class="container">
            <h2>Our Most Popular Dishes</h2>
  
            <div class="popular-dishes">
              <div v-for="dish in popularDishes" class="card">
                <img :src="dish.name" alt="">
                <h4>{{ dish.title }}</h4>
                <p class="red">{{ dish.price }}</p>
              </div>
            </div>
            <div class="text-center">
              <a href="" class="btn">Start your order<i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
          </div>
          <div class="sconto">
            <img src="./assets/img/robo-ondulato.jpg" alt="">
          </div>
        </section>

        <section class="menu-categories">
          <div class="container">
            <div class="menu-categories-title">
              <h3>Menu Categories</h3>
            </div>
            <div class="menu-categories-button">
              <a href="" class="btn">view the full menu<i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
          </div>

          <div class="menu-categories-gallery">
            <div class="card" v-for="categorie in menuCategories">
              <div class="immagine">
                <img :src="categorie.immagine" alt="">
                <div class="overlay">
                  <span class="overlay-text">{{ categorie.text }}</span>
                </div>
              </div>
            </div>
            <div class="card card-alt" v-for="allergene in allergeni">
              <div class="immagine">
                <img :src="allergene.immagine" alt="">
              </div>
              <p>{{ allergene.text }}</p>
            </div>
          </div>
        </section>

        <section class="ordering-app">
          <div class="container">
            <div class="inner-container">
              <h3>Download Our</h3>
              <h3 class="colored">Ordering App</h3>
              <a href=""><img src="./assets/img/app-store-badge.png" alt=""></a>
              <a href=""><img src="./assets/img/play-store-badge.png" alt=""></a>
            </div>
          </div>
        </section>

        <section class="latest-news">
          <div class="container">
            
            <div class="latest-news-title">
              <h3>Latest News</h3>
            </div>

            <div class="latest-news-btn">
              <a href="" class="btn">read more news<i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
          </div>
          
          <div class="container">
            <div class="card" v-for="gnu in gnus">
              <img :src="gnu.immagine" alt="">
              <h3>{{ gnu.title }}</h3>
              <p>{{ gnu.text }}</p>
            </div>
          </div>
        </section>
      </main>

      <footer>
        <div class="container">
          <div id="order-online" class="lists">
            <h4>Order Online</h4>
            <ul>
              <li v-for="item in orderOnline">
                <a href="">{{ item.text }}</a>
              </li>
            </ul>
          </div>
          
          <div id="navigate" class="lists">
            <h4>Navigate</h4>
            <ul>
              <li v-for="item in navigate">
                <a href="">{{ item.text }}</a>
              </li>
            </ul>
          </div>
          
          <div class="lists">
            <h4>Information</h4>
            <ul>
              <li v-for="item in information">
                <a href="">{{ item.text }}</a>
                <a href="" id="information"><img :src="item.button" alt=""></a>
                
              </li>
              
            </ul>
            
          </div>
          
          <div id="opening-hours" class="lists">
            <h4>Opening Hours</h4>
            <ul>
              <li v-for="item in openingHours">
                {{ item.day }}<span class="yellow">{{ item.hours }}</span>
              </li>
            </ul>
          </div>
          
          <div class="lists">
            <h4 class="voucher-title">Voucher</h4>
            <img id="voucher" src="./assets/img/footer-coupon.png" alt="">
            <div class="voucher-text">
              <h3>Just Use The Code</h3>
              <h3 class="yellow">FIRST ORDER</h3>
              <h3>At Checkout</h3>
            </div>
          </div>
          
          
        </div>
      </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>