* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  background-image: url(../../assets/img/home-background-hero-scaled.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
header .nav-container {
  height: 80px;
  width: 75%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-container .nav-right {
  display: flex;
}
header .nav-container .nav-right ul {
  display: flex;
}
header .nav-container .nav-right ul li {
  font-weight: bold;
}
header .nav-container .nav-right ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}
header .nav-container .nav-right ul li a:hover {
  color: #F76249;
}
header .nav-container .nav-right i {
  color: #fff;
}
header .nav-container .right-buttons {
  height: 200px;
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .nav-container .right-buttons .btn-top {
  background-color: #bf1e23;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 50px;
}
header .nav-container .right-buttons .btn-bot {
  display: flex;
  flex-direction: column;
}
header .nav-container .right-buttons .btn-bot .btn-white {
  text-align: center;
  padding: 3px;
  background-color: #fff;
  border-radius: 7px;
  margin-top: 7px;
}
header .nav-container .right-buttons .btn-bot .btn-white a {
  display: flex;
  flex-direction: column;
}
header .nav-container .right-buttons .btn-bot .btn-white a span, header .nav-container .right-buttons .btn-bot .btn-white a i {
  color: #33475b;
}
header .nav-container .right-buttons .btn-bot .btn-white a #sale {
  color: #90ee90;
}
header .container {
  width: 75%;
  margin: 0 auto;
  color: #fff;
  padding-top: 20%;
}
header .container h1 {
  font-size: 45px;
}
header .container h2 {
  font-size: 90px;
  margin-bottom: 50px;
}
header .container h2 .yellow {
  color: #F76249;
}
header .container a.btn {
  background-color: #bf1e23;
  padding: 13px 29px;
  border-radius: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
header .container a.btn i {
  margin-left: 5px;
}
header .container a.btn span {
  text-transform: uppercase;
  font-weight: bold;
}
header .container .nav-bottom {
  width: 75%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #fff;
  padding: 40px 20px 0;
  color: #000;
  position: absolute;
  bottom: -50px;
}
header .container .nav-bottom div {
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  font-weight: bold;
}
header .container .nav-bottom div p {
  margin-left: 5px;
}

main .container {
  width: 75%;
  margin: 0 auto;
}
main .container h2 {
  font-size: 48px;
  margin-top: 150px;
  text-align: center;
}
main .container .popular-dishes {
  display: flex;
}
main .container .popular-dishes .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 30px);
  margin: 0 15px;
}
main .container .popular-dishes .card img {
  width: 100%;
}
main .container .popular-dishes .card h4 {
  font-size: 32px;
}
main .container .popular-dishes .card p.red {
  font-size: 18px;
  color: #bf1e23;
  margin-top: 10px;
}
main div.text-center {
  text-align: center;
  margin-top: 35px;
}
main div.text-center .btn {
  background-color: #bf1e23;
  padding: 13px 29px;
  border-radius: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
main div.text-center .btn i {
  margin-left: 5px;
}
main .sconto img {
  width: 100%;
  margin-top: 15px;
}
main .menu-categories {
  margin-bottom: 70px;
}
main .menu-categories .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
main .menu-categories .container h3 {
  font-size: 32px;
}
main .menu-categories .container .btn {
  background-color: #bf1e23;
  padding: 13px 29px;
  border-radius: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
main .menu-categories .container .btn i {
  margin-left: 5px;
}
main .menu-categories .menu-categories-gallery {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .menu-categories .menu-categories-gallery .card {
  width: calc(100% / 4 - 20px);
  margin: 10px 10px;
}
main .menu-categories .menu-categories-gallery .card .immagine {
  position: relative;
  font-size: 0;
}
main .menu-categories .menu-categories-gallery .card .immagine img {
  width: 100%;
  height: 100%;
}
main .menu-categories .menu-categories-gallery .card .immagine .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
main .menu-categories .menu-categories-gallery .card .immagine .overlay .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
main .menu-categories .menu-categories-gallery .card-alt .immagine {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .menu-categories .menu-categories-gallery .card-alt .immagine img {
  width: 70px;
  height: 70px;
}
main .menu-categories .menu-categories-gallery .card-alt p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
main .ordering-app {
  height: 550px;
  background-image: url(./../../assets/img/app-ordering-scaled.jpg);
  background-size: 115%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
main .ordering-app .inner-container {
  width: 60%;
}
main .ordering-app .inner-container h3 {
  color: #fff;
  font-size: 37px;
  text-align: start;
}
main .ordering-app .inner-container .colored {
  color: #fcdc31;
  font-size: 90px;
}
main .ordering-app .inner-container a img {
  height: 70px;
  width: 175px;
  margin-top: 45px;
}
main .latest-news {
  margin-bottom: 70px;
}
main .latest-news .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
main .latest-news .container h3 {
  font-size: 32px;
}
main .latest-news .container .btn {
  background-color: #bf1e23;
  padding: 13px 29px;
  border-radius: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
main .latest-news .container .btn i {
  margin-left: 5px;
}
main .latest-news .card {
  width: calc(100% / 2 - 20px);
}
main .latest-news .card img {
  width: 100%;
  height: 100%;
}
main .latest-news .card h3, main .latest-news .card p {
  text-align: center;
  margin: 25px 0;
}

footer {
  background-image: url(./../../assets/img/footer-background-scaled.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
footer .container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}
footer .container .lists {
  width: calc(100% / 5 - 40px);
  padding-top: 100px;
  margin: 0 20px;
}
footer .container .lists h4 {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 30px;
}
footer .container .lists li {
  font-weight: bold;
  padding-bottom: 20px;
  color: #fff;
}
footer .container .lists li #information {
  height: 50px;
  width: 150px;
}
footer .container .lists li #information img {
  width: 80%;
}
footer .container .lists li .yellow {
  color: #F76249;
}
footer .container .lists #voucher {
  height: 160px;
}
footer .container .lists .voucher-title {
  text-align: center;
}
footer .container .lists .voucher-text {
  color: #fff;
  text-align: center;
}
footer .container .lists .voucher-text .yellow {
  color: #F76249;
}
